@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', 'sans-serif';
}

html {
    font-size: 62.5%;
}

body {
    background: #010B12;
    font-family: "Poppins", sans-serif;
    color: #ffff;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding-top: 0;         
}

html, body {
  height: 100%;      
  margin: 0;
  padding: 0;
}

#menu {
  display: none;
}

.menu-icono {
  display: none;
}

.menu-label {
  display: none;
  z-index: 1001;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: #010B12;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: #0FF0FC;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.navbar a {
    font-size: 1.8rem;
    color: #0FF0FC;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.6s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active{
    color: #ffff;
    border-bottom: 3px solid #ffff;
}

@media (max-width: 995px) {
  .menu-label {
    display: block;
  }

  .menu-icono {
    display: block;
    width: 28px;
    cursor: pointer;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #010B12;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 3rem;
    z-index: 1000;
  }

  #menu:checked ~ .navbar {
    display: flex;
  }

  #menu:checked .menu-label {
    display: none;
  }

  .navbar a {
    font-size: 1.8rem;
    color: #0FF0FC;
    margin-bottom: 2rem;
    transition: 0.3s;
  }

  .navbar a:hover {
    color: #fff;
  }
}

.container{
  border: 2px solid #0A1F33;
  width: 90%;
  max-width: 450px;
  padding: 30px 40px;
  border-radius: 10px;
  color: #ffff;
  background-color: #0A1F33;
  box-shadow: 0 0 10px #0A1F33;
}

.container h1{
  text-align: center;
  margin-bottom: 35px;
  font-size: 3rem;
}

form{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

form a{
  text-decoration: none;
  color: #FFFF;
}

.input-box{
  border: 2px solid #1E3A56;
  background-color: #1E3A56;
  display: flex;
  align-items: center;
  height: 60px;
  border-radius: 40px;
  padding: 20px;
}

.input-box input{
  flex: 1;
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 16 px;
  color: #FFFF;
  min-width: 0;
}

.btn {
  border-radius: 30px ;
  border: 0;
  outline: 0;
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
  cursor: pointer;
  background-color: #0FF0FC;
  color: #fff;
}

@media (max-width: 600px) {
  .container {
    width: 90%;       
    max-width: none;    
    padding: 20px 15px; 
    border-radius: 8px; 
    box-shadow: 0 0 8px #0A1F33;
  }

  .container h1 {
    font-size: 3rem;    
    margin-bottom: 25px;
  }

  form {
    gap: 20px;         
  }

  .input-box {
    height: 50px;       
    padding: 15px;
  }

  .input-box input {
    font-size: 14px;   
  }

  .btn {
    font-size: 14px;
    padding: 8px;
    border-radius: 25px;
  }
}

p {
  font-size: 1.4rem;
  color: #ccc;
}

p a {
  color: #0FF0FC;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}